{% extends 'base2.html' %}
{% load static %}
{% block title %} Edit Profile | Membership Portal {% endblock %}
{% block content %}

<div class="pcoded-content">
                      <!-- Page-header start -->
                      <div class="page-header">
                          <div class="page-block">
                              <div class="row align-items-center">
                                  <div class="col-md-8">
                                      <div class="page-header-title">
                                          <h5 class="m-b-10">Edit Profile</h5>
                                          <p class="m-b-0">HYCG Membership Portal</p>
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <ul class="breadcrumb-title">
                                          <li class="breadcrumb-item">
                                              <a href="index.html"> <i class="fa fa-home"></i> </a>
                                          </li>
                                          <li class="breadcrumb-item"><a href="{% url 'membership:dashboard' %}">Dashboard</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">
       







                                            

                                                  </div>
                                        </div>





                                        
                                    </div>
                                    
                                    
                                    <!-- Page-body end -->


                   
    
                           
{% endblock %}